// FONT FAMILY
$body-font-family: "Nunito", sans-serif;

// COLORS
$primary: "#419D78";
$secondary: "#69FF5C";
$accent: "#FF6947";
$info: "#2D3339";
$corporative: "#473D57";
$white: "#FFFFFF";
$cream: "#F7F2C8";
$error: "#BE3749";
